body{
    background: #5dafb8;
}
.card{
    width: 90%;
    height: 100%;
    background: #a3d7dd;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    
}

.card-item{
    background: #fff;
    width: 400px;
    height: 200px;
}

img{
    width: 100%;
    height: 100%;
}